@charset "utf-8";
*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
}
html,body{
	width:100%;
	height:100%;
}
ul,ol li{
	list-style:none;
}
@mixin pos($pos:absolute){
	position:$pos;
}
.ysn{
	padding:50px;

}
.home{
	margin-top:30px;
	.ipt{
		margin-top:40px;
		input{
			@include pos(relative);
			padding:5px;
		}
		.search{
			@include pos;
			right:33%;
			top:30%;
		}
	}
	.mid{
		text-align:center;
	}
	.sign{
		margin-top:40px;
		.img{
			float:left;
			margin-right:10px;
		}
	}
}
.nav{
	height:50px;
	line-height:50px;
	margin-top:30px;
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
	ul{
		text-align:center;
		margin-left:30px;
		li{
			float:left;
			margin:0px 17px;
		}
		.red{
			color:red;
			border-top:2px solid red;
		}
	}
	.box{
		p{
			border:1px solid #000;
			float:left;
			height:30px;
			line-height:30px;
			text-align:center;
			width:50px;
			margin-top:10px;
			b{
				font-size:24px;
			}
		}
	}
	
}
.fea{
	@include pos;
	left:58%;
	z-index:10;
	display:none;
	li{
		height:40px;
		line-height:40px;
		border:1px solid #ccc;
		background:#fff;
		padding:0px 5px;
		border-top:none;
		a{
			text-decoration:none;
		}
	}
}
.page{
	border:1px solid #ccc;
	border-top:none;
	//@include pos;
	background:#fff;
	padding-top:30px;
	z-index:100;
	margin:0;
	display:none;
	p{
		background:#666666;
		color:#fff;
		height:40px;
		line-height:40px;
		text-align:center;
	}
	ul{
		margin-top:20px;
		li{
			border-bottom:1px dotted #ccc;
			height:40px;
			line-height:40px;
			padding-left:20px;
			&:last-child{
				border-bottom:none;
			}
		}
		.color{
			color:red;
		}
	}
}
.ysn_elements{
	margin-top:20px;
	.ysn_uls{
		@include pos(relative);
		li{
			border:1px solid #ccc;
			height:50px;
			line-height:50px;
			border-top:none;
			overflow:hidden;
			color:#666666;
			b{
				margin-left:5%;
				margin-right:10px;
			}
			span{
				float:right;
				margin-right:5%;
				font-size:24px;
			}
		}
		.red{
			color:red;
		}
		.line{
			width:3px;
			height:25px;
			background:red;
			border:none;
			display:block;
			float:left;
			@include pos;
			top:12px;
			display:none;
		}

	}
}

.footer{
	.so_ul li{
		float:left;
	}
}
.foot-nav{
	height:50px;
	line-height:50px;
	background:#000;
	color:#ccc;
	p{
		float:left;
		margin-left:5%;
	}
	ul{
		float:right;
		margin-right:5%;
		li{
			float:left;
			margin:0px 10px;
			a{
				text-decoration:none;
				&:hover{
					color:#fff;
				}
			}
		}
	}
}