* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; }

body {
  background: url(../../img/big_bg.png); }

.container {
  width: 80%;
  margin: auto;
  background: #fff;
  box-shadow: 0 5px 10px #ccc; }

.head {
  z-index: 100;
  position: relative; }

.con {
  width: 100%; }

.home {
  width: 100%;
  margin-top: 20px; }
  .home .ipt {
    margin-top: 40px; }
    .home .ipt input {
      position: relative;
      padding: 5px; }
    .home .ipt .search {
      position: absolute;
      right: 33%;
      top: 30%; }
  .home .mid {
    text-align: center; }
  .home .sign {
    margin-top: 40px; }
    .home .sign .img {
      float: left;
      margin-right: 10px; }

.nav {
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none; }
  .nav ul {
    text-align: center;
    margin-left: 30px; }
    .nav ul li {
      float: left;
      margin: 0px 20px; }
    .nav ul .red {
      color: red;
      border-top: 2px solid red; }
  .nav .box p {
    border: 1px solid #000;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    margin-top: 10px; }
    .nav .box p b {
      font-size: 24px; }

.fea {
  position: absolute;
  left: 58%;
  z-index: 10;
  display: none; }
  .fea li {
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0px 5px;
    border-top: none; }
    .fea li a {
      text-decoration: none; }

.page {
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  padding-top: 30px;
  z-index: 100;
  margin: 0;
  display: none; }
  .page p {
    background: #666666;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .page ul {
    margin-top: 20px; }
    .page ul li {
      border-bottom: 1px dotted #ccc;
      height: 40px;
      line-height: 40px;
      padding-left: 20px; }
      .page ul li:last-child {
        border-bottom: none; }
    .page ul .color {
      color: red; }

.footer {
  clear: both;
  padding-top: 50px;
  background: #fff; }
  .footer .so_ul li {
    float: left; }

.foot-nav {
  height: 50px;
  line-height: 50px;
  background: #000;
  color: #ccc; }
  .foot-nav p {
    float: left;
    margin-left: 5%; }
  .foot-nav ul {
    float: right;
    margin-right: 5%; }
    .foot-nav ul li {
      float: left;
      margin-left: 5px;
      height: 80px; }
      .foot-nav ul li a {
        text-decoration: none; }
        .foot-nav ul li a:hover {
          color: #fff; }
