<div class="x_detailcontainer">
	<link rel="shortCut" href="s.iao">
	<div class="x_des_conbg">
	</div>
	<div class="x-des_con1 col-md-12">
		<h2>CART</h2>
		<span></span>
		<p>Helena is a freelance fashion house specialiasing in print designs and combining fabrics. <br>Our stores can be found all over the world.</p>
	</div>
	<div class="x-des_con2">
		<div class="x_detailheader row">
			<div class="col-md-6 x_detailheader_left">
				<a href="#" class="glyphicon glyphicon-home"></a> >>
				<a href="#">PAGES</a> >>
				<a href="#">OTHER</a> >>
				<b>BLOG</b>
			</div>
			<div class="col-md-6 x_detailheader_right">
				<a href="#" class="glyphicon glyphicon-camera"></a>
				<a href="#" class="glyphicon glyphicon-heart-empty"></a>
				<a href="#" class="glyphicon glyphicon-tree-conifer"></a>
			</div>
		</div>
		<div class='x_des_table' >
			<table class="table table-bordered ">
				<thead>
					<tr>
						<th>Image</th>
						<th>Description</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody shop-ping>
					<tr class="pro">
						<td><img src="img/product1.jpg" alt=""></td>
						<td class="row">
							<ul class="col-md-6">
								<li>Some Product Title</li>
								<li add-color><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></li>
								<li>Code:GK0904</li>
							</ul>
							<p class="x_des_do col-md-6"><a href="#" class="glyphicon glyphicon-tag write"></a><a href="#" class="glyphicon glyphicon-refresh refresh"></a><a href="javascript:void(0)" class="glyphicon glyphicon-trash del"></a></p>
						</td>
						<td class="table_sub">
							<button class="reduce">-</button><input type="text" value="1" class="x_des_txt qit"><button class="add">+</button>
						</td>
						<td >
							<span class="price">$1500.00</span>
						</td>
						<td ><span class="total">$1500.00</span></td>
					</tr>
					<tr class="pro">
						<td><img src="img/product2.jpg" alt=""></td>
						<td class="row">
							<ul class="col-md-6">
								<li>Some Product Title</li>
								<li add-color><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></li>
								<li>Code:GK0904</li>
							</ul>
							<p class="x_des_do col-md-6"><a href="#" class="glyphicon glyphicon-tag write"></a><a href="#" class="glyphicon glyphicon-refresh refresh"></a><a href="javascript:void(0)" class="glyphicon glyphicon-trash del"></a></p>
						</td>
						<td class="table_sub">
							<button class="reduce">-</button><input type="text" value="1" class="x_des_txt qit"><button class="add">+</button>
						</td>
						<td >
							<span class="price">$1500.00</span>
						</td>
						<td ><span class="total">$1500.00</span></td>
					</tr>
					<tr class="pro">
						<td><img src="img/product3.jpg" alt=""></td>
						<td class="row">
							<ul class="col-md-6">
								<li>Some Product Title</li>
								<li add-color><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></li>
								<li>Code:GK0904</li>
							</ul>
							<p class="x_des_do col-md-6"><a href="#" class="glyphicon glyphicon-tag write"></a><a href="#" class="glyphicon glyphicon-refresh refresh"></a><a href="javascript:void(0)" class="glyphicon glyphicon-trash del"></a></p>
						</td>
						<td class="table_sub">
							<button class="reduce">-</button><input type="text" value="1" class="x_des_txt qit"><button class="add">+</button>
						</td>
						<td ><span class="price">$1500.00</span></td>
						<td ><span class="total">$1500.00</span></td>
					</tr>
					<tr rowspan="6">
						<td colspan="3" rowspan="4">
							OUR RETURN POLICY
							<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim adminim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						</td>
						<td class="x_des_td_pr" id="subtotal">Sub Total</td>
						<td class="x_des_td_pr">$ 4500.00</td>
					</tr>
					<tr>
						
						<td class="x_des_td_pr">Shipping</td>
						<td class="x_des_td_pr">$ 4500.00</td>
					</tr>
					<tr>
						<td class="x_des_td_pr">VAT</td>
						<td class="x_des_td_pr">$ 4500.00</td>
					</tr>
					<tr rowspan="2">
						<td class="x_des_td_total1">TOTAL</td>
						<td class="x_des_td_total2"><span  id="totalprice">$ 5250.00</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row des_btn">
			<a class="btn primary" ui-sref="content.detailindex"><em class="glyphicon glyphicon-arrow-left"></em>Continue Shopping</a>
			<a class="btn primary" ui-sref="content.check"><em class="glyphicon glyphicon-filter"></em>Check Out</a>
		</div>
	</div>	

</div>
