<div class="x_detailcontainer">
	<div class="x_des_conbg">
	</div>
	<div class="x-des_con1 col-md-12">
		<h2>CART</h2>
		<span></span>
		<p>Helena is a freelance fashion house specialiasing in print designs and combining fabrics. <br>Our stores can be found all over the world.</p>
	</div>
	<div class="x-des_con2">
		<div class="x_detailheader row">
			<div class="col-md-6 x_detailheader_left">
				<a href="#" class="glyphicon glyphicon-home"></a> >>
				<a href="#">PAGES</a> >>
				<a href="#">OTHER</a> >>
				<b>BLOG</b>
			</div>
			<div class="col-md-6 x_detailheader_right">
				<a href="#" class="glyphicon glyphicon-camera"></a>
				<a href="#" class="glyphicon glyphicon-heart-empty"></a>
				<a href="#" class="glyphicon glyphicon-tree-conifer"></a>
			</div>
		</div>
		<div class="content-block default-bg" ng-controller="detail2">
			<div class="cont-pad-y-sm">
				<div class="row" style="margin: 0;padding: 0">
					<div class="main-col col-md-9">
						<div class="panel-group checkout" id="accordion" style="margin-top: 40px">
							<div>
								<div class="heading-iconed heading" >
									<h4 class="panel-title tit" ng-click="toggleMenu1()" style="margin: 0;padding: 0"><span>1</span><i>Checkout Method</i>
									</h4>
									<div class="main-con1" ng-show="menuState1.show">
										<div class="row">
											<div class="main-con main-con1-left col-md-6">
												<h5>NEW CUSTOMER</h5>
												<p>Dont have an account? Pick one of the options below.</p>
												<p><input type="radio" name="ra" style="margin-right: 10px"><label for="">Register Account</label></p>
												<p><input type="radio" name="ra" style="margin-right: 10px"><label for="" >Checkout as guest</label></p>
												<p style="line-height: 26px">Register with us for a fast and easy checkout and easy access to your order history and status</p>
												<a class="btn primary">Continue</a>
											</div>
											<div class="main-con main-con1-right col-md-6">	
												<h5 style="color: #333">SIGN IN</h5>
												<p>
													<label for="" style="display: block;color: #333">Email Address</label>
													<input type="text" placeholder="Enter email" style="width: 80%;height: 26px;padding-left: 10px">
												</p>
												<p>
													<label for="" style="display: block;color: #333">Password</label>
													<input type="text" placeholder="Password" style="width:80%;height: 30px;padding-left: 10px">
												</p>
												<p><input type="checkbox"><label for="">Remember me</label></p>
												<a class="btn primary">Sign In</a>
											</div>
										</div>
									</div>
								</div>
								<div class="heading-iconed heading" ng-click="toggleMenu2()">
									<h4 class="panel-title tit" style="margin: 0;padding: 0">
										<span>2</span><i>Checkout Method</i>
									</h4>
									<div class="main-con1" ng-show="menuState2.show">
										<div class="row">
											<div class="main-con main-con1-right col-md-6">	
												<h5 style="color: #333">SIGN IN</h5>
												<p>
													<label for="" style="display: block;color: #333">Email Address</label>
													<input type="text" placeholder="Enter email" style="width: 80%;height: 26px;padding-left: 10px">
												</p>
												<p>
													<label for="" style="display: block;color: #333">Password</label>
													<select name="" id=""  style="width:80%;height: 30px;>
																					
													<option>select Country</option>
													<option>select Country</option>
													<option>select Country</option>
													<option>select Country</option>
													<option>select Country</option>

													</select>
												</p>
												<p>
													<label for="" style="display: block;color: #333">Password</label>
													<input type="text" placeholder="Password" style="width:80%;height: 30px;padding-left: 10px">
												</p>
												<p><input type="checkbox"><label for="">Remember me</label></p>
												<a class="btn primary">Sign In</a>
											</div>
											<div class="main-con main-con1-right col-md-6">	
												<h5 style="color: #333">SIGN IN</h5>
												<p>
													<label for="" style="display: block;color: #333">Email Address</label>
													<input type="text" placeholder="Enter email" style="width: 80%;height: 26px;padding-left: 10px">
												</p>
												<p>
													<label for="" style="display: block;color: #333">Password</label>
													<input type="text" placeholder="Password" style="width:80%;height: 30px;padding-left: 10px">
												</p>
												<p><input type="checkbox"><label for="">Remember me</label></p>
												<a class="btn primary">Sign In</a>
											</div>
										</div>
									</div>
								</div>
								<div class="heading-iconed heading" ng-click="toggleMenu3()">
									<h4 class="panel-title tit" style="margin: 0;padding: 0">
										<span>3</span><i>Checkout Method</i>
									</h4>
									<div class="main-con1" ng-show="menuState3.show">
										sdcsd
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right-col col-md-3">
						时间段是成都市内是的长度时将保持三常见的是常见的是  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>