<div class="ysn" id="ysn">
	<div class="ysn_elements row">
			<ul class="col-md-3 col-xs-1 col-sm-1 row ysn_uls" id="ysn_uls" hover-li>
				<i class="line"></i>
				<li style="border-top:1px solid #ccc" class="red">
					<b class="glyphicon glyphicon-flag"></b>lcons
					<span>+</span>
				</li>
				<li><b class="glyphicon glyphicon-heart"></b>Elements<span>+</span></li>
				<li><b class="glyphicon glyphicon-list-alt"></b>Forms<span>+</span></li>
				<li><b class="glyphicon glyphicon-list"></b>Navigation<span>+</span></li>
				<li><b class="glyphicon glyphicon-folder-open"></b>Common<span>+</span></li>
				<li><b class="glyphicon glyphicon-briefcase"></b>Business<span>+</span></li>
				<li><b class="glyphicon glyphicon-shopping-cart"></b>Ecommerce<span>+</span></li>
				<li><b class="glyphicon glyphicon-picture"></b>Sliders<span>+</span></li>
				<li><b class="glyphicon glyphicon-flash"></b>Animations<span>+</span></li>
				<li><b class="glyphicon glyphicon-tint"></b>Revealers<span>+</span></li>
			</ul>

			<div class="col-md-9 col-xs-11 col-sm-11">
				<img src="./img/ysn_1.png" class="col-md-12 col-xs-9">
			</div>
	</div>
</div>




