<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>team</title>
</head>
<body>
	<div class="ysn" id="ysn">
		<div class="ysn_elements row">
			<ul class="col-md-3 col-xs-1 col-sm-1 row ysn_uls" id="ysn_uls" hover-li>
				<i class="line"></i>
				<li style="border-top:1px solid #ccc" class="red"><b class="glyphicon glyphicon-flag"></b>lcons<span>+</span></li>
				<li><b class="glyphicon glyphicon-heart"></b>Elements<span>+</span></li>
				<li><b class="glyphicon glyphicon-list-alt"></b>Forms<span>+</span></li>
				<li><b class="glyphicon glyphicon-list"></b>Navigation<span>+</span></li>
				<li><b class="glyphicon glyphicon-folder-open"></b>Common<span>+</span></li>
				<li><b class="glyphicon glyphicon-briefcase"></b>Business<span>+</span></li>
				<li><b class="glyphicon glyphicon-shopping-cart"></b>Ecommerce<span>+</span></li>
				<li><b class="glyphicon glyphicon-picture"></b>Sliders<span>+</span></li>
				<li><b class="glyphicon glyphicon-flash"></b>Animations<span>+</span></li>
				<li><b class="glyphicon glyphicon-tint"></b>Revealers<span>+</span></li>
			</ul>
			<div class="col-md-9 col-xs-11 col-sm-11 ysn2">
				<div class="ysn_custom col-md-12">
					<h2>BxSlider - Custom Version</h2>
					<p>The popular open source responsive slider plugin <i style="color:#b52c4c">BxSlider</i> has been <span style="color:#a97038">modified</span> to accept an unlimitted number of break points. Support for animated layers has also been added.</p>
					<ul class="cus_uls">
						<li><img src="./img/ysn_2.jpg">Added data attributes support</li>
						<li><img src="./img/ysn_2.jpg">Added break points support</li>
						<li><img src="./img/ysn_2.jpg">Added animatable layers</li>
						<li><img src="./img/ysn_2.jpg">Added automatic slide width calculation</li>
						<li><img src="./img/ysn_2.jpg">Added self calling capability</li>
					</ul>
				</div>
				<div class="ysn_copy col-md-12">
					<p style="color:#78cbe3">Copying and Pasting made easy !</p>
					<p>See something you want to use? Just hit the <b>HTML</b> tab to view the source for copy pasting. No need to open any page in an <b>HTML</b> editor to view the markup!</p>
				</div>
				<div class="ysn_setup col-md-12">
					<h4>Simple Codeless Setup</h4>
					<p>Use the data attribute <span>data-call="bxslider"</span> together with the <span>.bxslider</span> class to quickly setup a slider without writing any piece of code! Remember to wrap your <span>.bx-slider</span> class with a parent class so that you can style the slider. For usage in your markup refer to the <b>HTML</b> tab.</p>
				</div>
				<div class="ysn_setup col-md-12">
					<h4>Adding Options</h4>
					<p>Use the data attribute <span>data-options=""</span> to pass any bxSlider supported options. The options should be wrapped inside <span>{}</span> and seperated by commas. View <b>HTML</b> tab for usage.</p>
				</div>
				<ul class="tab_uls col-md-12" id="tab_uls" click-li>
					<li class="bor"><img src="./img/ysn_3.jpg" style="margin-right:5px" >OUTPUT</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">HTML</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">NOTES</li>
				</ul>
				<div class="slide-pic  col-md-12">
					<div class="slider" slide-li> 
					  <ul class="slider-main"> 
						   <li class="slider-panel"> 
						    <a><img src="img/ysn_31.png"></a> 
						   </li> 
						   <li class="slider-panel"> 
						    <a><img src="img/ysn_32.png"></a> 
						   </li> 
						   <li class="slider-panel"> 
						    <a><img src="img/ysn_33.jpg"></a> 
						   </li> 
						   <li class="slider-panel"> 
						    <a><img src="img/ysn_34.jpg"></a> 
						   </li> 
					  </ul> 
					  <div class="slider-extra"> 
						   <ul class="slider-nav"> 
						    <li class="slider-item">1</li> 
						    <li class="slider-item">2</li> 
						    <li class="slider-item">3</li> 
						    <li class="slider-item">4</li> 
						   </ul> 
						   <div class="slider-page"> 
						    <a class="slider-pre" href="javascript:;;"><</a> 
						    <a class="slider-next" href="javascript:;;">></a> 
						   </div> 
					  </div> 
				</div>
				</div>
				 

				<div class="ysn_setup col-md-12">
					<h4>Layers Setup</h4>
					<p>To add animatable layers use the <span>.bx-layer</span> on any element contained in your slide. Now just the following data attributers to your layer and your good to go.</p>
					<ul>
						<li>•Set <span>data-anim=""</span> with one of the animation classes contained in the <span>animate.css</span> library</li>
						<li>•Set <span>data-dur=""</span> with the duration of your animation in milliseconds</li>
						<li>•Set <span>data-delay=""</span> with the delay of your animation in milliseconds</li>
					</ul>
				</div>
				<div class="ysn_refer col-md-12">
					<p style="color:#78cbe3">Copying and Pasting made easy !</p>
					<p>See something you want to use? Just hit the <b>HTML</b> tab to view the source for copy pasting. No need to open any page in an <b>HTML</b> editor to view the markup!</p>
				</div>
				<div class="ysn_setup col-md-12">
					<h4>Positioning Layers</h4>
					<p>There are no premade classes for position the layers. You need to position the layers either using your own classes or using inline styles.</p>
				</div>
				<!-- <ul class="tab_uls col-md-12">
					<li class="bor"><img src="./img/ysn_3.jpg" style="margin-right:5px" >OUTPUT</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">HTML</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">NOTES</li>
				</ul> -->
				<!-- <div class="color row col-md-12" id="color">
				 	<ul>
				 		<li></li>
				 		<li></li>
				 		<li></li>
				 	</ul>
				 	<p>1st Layer <span>[data-delay=500,data-dur=1000]</span></p>
				 	<p>2nd Layer <span>[data-delay=500,data-dur=1000]</span></p>
				 	<p>3rd Layer <span>[data-delay=2000,data-dur=1500]</span></p>
				 	<span class="color_left"><</span>
				 	<span class="color_right">></span>
				 	<ol class="col_ols">
				 			<li class="on"></li>
				 			<li></li>
				 			<li></li>
				 	</ol>
				 </div> --> 
				<div class="ysn_setup col-md-12">
					<h4>Adding Break Points</h4>
					<p>Use the data attribute <span>data-breaks=""</span> to pass options targeting specific <b>screen break points</b>. Each break point is defined as a set of options enclosed in curly brackets. All of BxSlider's options are supported.. View <b>HTML</b> tab for usage.</p>
				</div>
				<ul class="tab_uls col-md-12" click-li>
					<li class="bor"><img src="./img/ysn_3.jpg" style="margin-right:5px" >OUTPUT</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">HTML</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">NOTES</li>
				</ul>
				<div class="col-md-12 y_main">
					<div class="y_content" scroll-li>
						<ul>
							<li><img src="img/ysn_36.gif"></li>
							<li><img src="img/ysn_37.jpg"></li>
							<li><img src="img/ysn_38.jpg"></li>
							<li><img src="img/ysn_39.jpg"></li>
							<li><img src="img/ysn_40.jpg"></li>
							<li><img src="img/ysn_38.jpg"></li>
							<li><img src="img/ysn_37.jpg"></li>
						</ul>
						<div id="y_left"><</div>
					    <div id="y_right">></div>
					</div>
				</div>
				
				
			
				<div class="ysn_setup col-md-12" style="margin-top:10px">
					<h4>Alternative Setup</h4>
					<p>If you prefer not to use data attributes, the breaks and other new options can still be passed in the <span>bxslider()</span> call. View HTML tab for usage.</p>
				</div>
				<div class="ysn_dom col-md-12" style="padding-right:12px;">
					<p> $(document).ready( function() {</p>
					  	<p style="margin-left:20px">$('.my-slider').bxSlider({</p>
						    <p style="margin-left:40px">slideMargin: 5,</p>
						    <p style="margin-left:40px">autoReload: true,</p>
						    <p style="margin-left:40px">breaks: [{screen:0, slides:1, pager:false},{screen:460, slides:2},{screen:768,slides:3}]
						 <p style="margin-left:20px"> });</p>
					});
				</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>