<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>team</title>
</head>
<body>
	<div class="ysn" id="ysn">
		<div class="ysn_elements row">
			<ul class="col-md-3 col-xs-1 col-sm-1 row ysn_uls" id="ysn_uls" hover-li>
				<i class="line"></i>
				<li style="border-top:1px solid #ccc" class="red"><b class="glyphicon glyphicon-flag"></b>lcons<span>+</span></li>
				<li><b class="glyphicon glyphicon-heart"></b>Elements<span>+</span></li>
				<li><b class="glyphicon glyphicon-list-alt"></b>Forms<span>+</span></li>
				<li><b class="glyphicon glyphicon-list"></b>Navigation<span>+</span></li>
				<li><b class="glyphicon glyphicon-folder-open"></b>Common<span>+</span></li>
				<li><b class="glyphicon glyphicon-briefcase"></b>Business<span>+</span></li>
				<li><b class="glyphicon glyphicon-shopping-cart"></b>Ecommerce<span>+</span></li>
				<li><b class="glyphicon glyphicon-picture"></b>Sliders<span>+</span></li>
				<li><b class="glyphicon glyphicon-flash"></b>Animations<span>+</span></li>
				<li><b class="glyphicon glyphicon-tint"></b>Revealers<span>+</span></li>
			</ul>
			<div class="col-md-9 col-xs-11 col-sm-11">
				<div class="ysn_library col-md-12">
					<h2>Animations Library</h2>
					<p>Information on Usage, styles and extra classes.</p>
				</div>
				<div class="ysn_need col-md-12">
					<p style="color:#78cbe3">Don't need this module?</p>
					<p>To disable any module simply uncomment it's import statement in <span>uikit.scss</span>. This will generate a smaller stylesheet without the module.</p>
				</div>
				<div class="ysn_base col-md-12">
					<h4>Based on the Animate.css Library</h4>
					<p>Animate.css is a bunch of cool, fun, and cross-browser animations for you to use in your projects. Great for emphasis, home pages, sliders, and general just-add-water-awesomeness. The official project can be found here <span>github.com/daneden/animate.css</span></p>
				</div>
				<div class="ysn_base col-md-12">
					<h4>Usage</h4>
					<p>To use simply add the class <span>.animated</span> to an element, along with any of the animation names. That's it! You've got a CSS animated element. Super!</p>
				</div>
				<div class="ysn_text col-md-12">
					<p> <img class=<span>"animated bounceIn"</span> src=<span>"images/demo/logo-light.png"></span></p>
				</div>
				<div class="ysn_setup col-md-12">
					<h4>Usage in BxSlider</h4>
					<p>To add animatable layers use the <span>.bx-layer</span> on any element contained in your slide. Now just the following data attributers to your layer and your good to go.</p>
					<ul>
						<li>•Set <span>data-anim=""</span> with one of the animation classes contained in the <span>animate.css</span> library</li>
						<li>•Set <span>data-dur=""</span> with the duration of your animation in milliseconds</li>
						<li>•Set <span>data-delay=""</span> with the delay of your animation in milliseconds</li>
					</ul>
				</div>
				<div class="ysn_work col-md-12">
					<p style="color:#f2be73">Animations only work on this BxSlider Version!</p>
					<p>This theme uses a customized version of BxSlider. The shown examples won't work on other versions!</p>
				</div>
				<ul class="tab_uls col-md-12" click-li>
					<li class="bor"><img src="./img/ysn_3.jpg" style="margin-right:5px" >OUTPUT</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">HTML</li>
					<li><img src="./img/ysn_3.jpg" style="margin-right:5px">NOTES</li>
				</ul>
				
				<div id="slidershow" class="carousel slide photo row" slide-li style="margin-left:15px">
		 <!-- 设置图片轮播的顺序 -->
		 <ol class="carousel-indicators">
			 <li class="active" data-target="#slidershow" data-slide-to="0"></li>
			 <li data-target="#slidershow" data-slide-to="1"></li>
			 <li data-target="#slidershow" data-slide-to="2"></li>
		 </ol>
		 <!-- 设置轮播图片 -->
		 <div class="carousel-inner">
			 <div class="item active" style="height:250px;overflow:hidden">
			 	<a href="##"><img src="img/ysn_28.jpg"></a>
			 </div>
		 	<div class="item" style="height:250px;overflow:hidden">
		 		<a href="##"><img src="img/ysn_29.jpg"></a>
		 	</div>
			<div class="item" style="height:250px;overflow:hidden">
				<a href="##"><img src="img/ysn_30.jpg"></a>
			</div>
		 </div>
	</div>
			</div>
		</div>
	</div>
</body>
</html>